.textfisher1 {
	font-size: 50px;
	margin-top: 50px;
}

.textfisher2 {
	font-size: 23px;
	margin-top: 70px;
}

.FAQ {
	margin-bottom: 100px;
}

.colornav {
	background-color: #e3212a;
	margin-top: 20px;
   }

.navbar_cc {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 23px;
	margin-left: 140px;
	text-align: center;
	}
		
.navbar_cc li {
	margin-right: 80px; 
	}
		
.navbar_cc li a {
	text-decoration: none; 
	color: white; 
	}
		
.navbar_cc li a:hover {
	color: black;
	}

.navbarrr {
	width: 100%;
	height: auto;
	background-color: rgba(227,33,42,0.7);
	}
	
.navbarrr .container {
	height: inherit;
	display: flex;
	flex-direction: column;
	}
	
.navbarrra {
	width: 100%;
	height: 50px;
	
	}


@media (min-width: 768px) and (max-width: 1400px) {
    .row-reverse-md {
        display: flex;
        flex-direction: column-reverse;
		height: auto;
    }
}





